.componente-desenho{
    padding: 2rem;
    text-align: center;
}

.componente-desenho h3{
    border-bottom: 4px solid;
    display: inline-block;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.componente-desenho .personagens{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    flex-wrap: wrap;
}