.campo-texto{
    margin: 1.5rem 0;
}

.campo-texto label{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.campo-texto input{
    background-color: #fff;
    border: none;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.6);
    box-sizing: border-box;
    font-size: 1.5rem;
    padding: 1.5rem;
    width: 100%;
}